@font-face {
  font-family: 'Inter';
  font-style: italic;
  src: url(./fonts/Inter-Italic-VariableFont_opsz\,wght.ttf);
}
@font-face {
  font-family: 'Inter';
  font-style: normal;
  src: url(./fonts/Inter-VariableFont_opsz\,wght.ttf);
}
@font-face {
  font-family: 'Nunito';
  font-style: italic;
  src: url(./fonts/Nunito-Italic-VariableFont_wght.ttf);
}
@font-face {
  font-family: 'Nunito';
  font-style: normal;
  src: url(./fonts/Nunito-VariableFont_wght.ttf);
}

body {
  font-family: 'Nunito';
  color: $offblack2;
}

#toolbar {
  background-color: $darkgreen;
  color: $offwhite1;
  .q-toolbar__title {
    font-weight: 900;
  }
}
.q-page-container {
  background-color: $offwhite2;
  min-height: 100vh;
}
.page-container {
  max-width: $breakpoint-sm-max;
  margin: 0 auto;
  padding-bottom: 3vh;

  & > .q-card {
    border-radius: 2rem;
    background-color: $offwhite3;
  }

  & > .action-buttons {
    padding: 10px 16px 10px 10px;
  }
  @media (max-width: $breakpoint-xs-max) {
    padding: 0;
    height: 100%;
    width: 100%;
    & > .action-buttons {
      background-color: $lightgreen;
    }
  }
}
.q-card,
.q-tab-panels,
.q-table__container,
.q-menu {
  background-color: $offwhite1;
}
.q-tab {
  color: $darkgreen;
}
.q-tab__label {
  font-weight: 800;
}

.q-tab--inactive {
  opacity: 1;
  color: $lightgreen;
}
.q-timeline__heading-title {
  color: $darkgreen;
  font-weight: 900;
}
.q-timeline__dot {
  color: $lightgreen;
}

.q-drawer {
  background-color: $offwhite1;
  color: $darkgreen;

  .q-item__label:not(.q-item__label--caption) {
    font-weight: 800;
  }
  .q-item.q-router-link--active,
  .q-item--active {
    color: $red;
  }
}

.statCard {
  border-radius: 15px;
  //border: 5px solid $offwhite3;

  .statCardHeader {
    //border-radius: 0 !important;
    background-color: $offwhite3;
  }

  .statCardMainNumber {
    color: $darkgreen;
    font-weight: 900;
  }
  .q-btn {
    font-weight: 300;
    color: $offblack2;
  }
}

.q-table__card {
  color: $offblack2;
}

.q-table th {
  font-weight: 800;
  color: $red;
  font-size: 1rem;
  border-bottom: 2px solid $red;
  span {
    font-weight: 400;
    font-size: 0.8rem;
    color: $red;
  }
}

.q-table__top {
  .q-table__control {
    background-color: $red;
    border-radius: 5rem;
    input {
      color: $offwhite1;
      font-weight: 700;
    }
    .q-icon {
      color: $offwhite1;
    }
    padding-left: 15px;
    padding-right: 10px;
  }
  .field__native input {
    color: $offwhite1;
  }
}
.table-green {
  .q-table__top .q-table__control {
    border: 2px solid $darkgreen;
    background-color: inherit;
    input,
    .q-icon {
      color: $darkgreen;
    }
  }
  .q-table th {
    color: $darkgreen;
  }
}
