// Quasar SCSS (& Sass) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

$offwhite1: #f8f0e1;
$offwhite2: #f2e5d0;
$offwhite3: #e9dab8;
$offblack1: #46514f;
$offblack2: #1f2221;
$lightgreen: #919362;
$darkgreen: #4a4c22;
$yellow: #f3b91c;
$red: #a05348;
$blue: #5e91a0;

$primary: $lightgreen;
$secondary: $red;
$accent: $yellow;

$dark: #1d1d1d;
$dark-page: #121212;

$positive: #b9bd55;
$negative: $red;
$info: $blue;
$warning: $yellow;

$scale-green1: #a8b568;
$scale-green2: #7a8a45;
$scale-green3: #5a6530;
$scale-green4: $darkgreen;
$scale-red1: $yellow;
$scale-red2: #d49430;
$scale-red3: #c17a35;
$scale-red4: #a8603c;
$scale-red5: #8f4642;
$scale-red6: #763347;
$scale-red7: #5d2945;
$scale-red8: #442040;

.text-darkgreen {
  color: $darkgreen !important;
}
.bg-darkgreen {
  background: $darkgreen !important;
}
.text-lightgreen {
  color: $lightgreen !important;
}
.bg-lightgreen {
  background: $lightgreen !important;
}
.text-blue {
  color: $blue !important;
}
.bg-blue {
  background: $blue !important;
}
.text-offwhite1 {
  color: $offwhite1 !important;
}
.bg-offwhite1 {
  background: $offwhite1 !important;
}
.text-offwhite2 {
  color: $offwhite2 !important;
}
.bg-offwhite2 {
  background: $offwhite2 !important;
}
.text-offwhite3 {
  color: $offwhite3 !important;
}
.bg-offwhite3 {
  background: $offwhite3 !important;
}
.text-red {
  color: $red !important;
}
.bg-red {
  background: $red !important;
}

.text-scale-green1 {
  color: $scale-green1 !important;
}
.bg-scale-green1 {
  background: $scale-green1 !important;
}
.text-scale-green2 {
  color: $scale-green2 !important;
}
.bg-scale-green2 {
  background: $scale-green2 !important;
}
.text-scale-green3 {
  color: $scale-green3 !important;
}
.bg-scale-green3 {
  background: $scale-green3 !important;
}
.text-scale-green4 {
  color: $scale-green4 !important;
}
.bg-scale-green4 {
  background: $scale-green4 !important;
}
.text-scale-red1 {
  color: $scale-red1 !important;
}
.bg-scale-red1 {
  background: $scale-red1 !important;
}
.text-scale-red2 {
  color: $scale-red2 !important;
}
.bg-scale-red2 {
  background: $scale-red2 !important;
}
.text-scale-red3 {
  color: $scale-red3 !important;
}
.bg-scale-red3 {
  background: $scale-red3 !important;
}
.text-scale-red4 {
  color: $scale-red4 !important;
}
.bg-scale-red4 {
  background: $scale-red4 !important;
}
.text-scale-red5 {
  color: $scale-red5 !important;
}
.bg-scale-red5 {
  background: $scale-red5 !important;
}
.text-scale-red6 {
  color: $scale-red6 !important;
}
.bg-scale-red6 {
  background: $scale-red6 !important;
}
.text-scale-red7 {
  color: $scale-red7 !important;
}
.bg-scale-red7 {
  background: $scale-red7 !important;
}
.text-scale-red8 {
  color: $scale-red8 !important;
}
.bg-scale-red8 {
  background: $scale-red8 !important;
}
